body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: aqua;
  border-radius: 50%;
  position: absolute;
}

svg {
  height: 400px;
}
