* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.stopwatch {
  position: relative;
  width: 200px;
  height: 200px;
  border: 5px solid rgb(163, 163, 163);
  border-radius: 50%;
  background-color: #ffffff;
}

.hand {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: black;
  border-radius: 4px;
  top: 50%;
  transform-origin: 100%;
}

.minutes {
  height: 4px;
  background-color: gray;
  animation: rotate-minute 3600s linear infinite;
}

.seconds {
  height: 2px;
  background-color: red;
  animation: rotate-second 60s steps(60) infinite;
}

@keyframes rotate-second {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(450deg);
  }
}

@keyframes rotate-minute {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(450deg);
  }
}
